{
    "openapi": "3.0.3",
    "info": {
        "title": "Adobe Photoshop and Imaging APIs",
        "description": "Your interface to Adobe Photoshop and Imaging APIs",
        "contact": {
            "name": "Adobe Photoshop API Support",
            "url": "https://developer.adobe.com/photoshop/photoshop-api-docs/api/#tag/Photoshop",
            "email": "mantis@adobe.com"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://image.adobe.io",
            "description": "Adobe Photoshop Production",
            "variables": {}
        }
    ],
    "tags": [
        {
            "name": "Sensei",
            "description": "Adobe Sensei and Imaging APIs"
        },
        {
            "name": "Photoshop",
            "description": "Adobe Photoshop and Imaging APIs"
        }
    ],
    "paths": {
        "/sensei/status/{jobId}": {
            "get": {
                "tags": ["Sensei"],
                "summary": "Get Status API",
                "description": "Get job status of a Sensei job",
                "operationId": "senseiJobStatus",
                "x-ffs-status-fetcher": "true",
                "x-ffs-job-name": "SenseiAsyncJob",
                "parameters": [
                    {
                        "name": "jobId",
                        "in": "path",
                        "description": "The job to get status for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Job status",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SenseiJobApiResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/sensei/cutout": {
            "post": {
                "tags": ["Sensei"],
                "summary": "Remove Background API",
                "description": "Isolate subject of interest in an image and remove background.",
                "operationId": "removeBackground",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "senseiJobStatus",
                "requestBody": {
                    "description": "The input image and the cutout mask parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RemoveBackgroundRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/sensei/mask": {
            "post": {
                "tags": ["Sensei"],
                "summary": "Create Mask API",
                "description": "Isolate a subject of interest in an image (people, objects, etc) and generate an image mask",
                "operationId": "createMask",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "senseiJobStatus",
                "requestBody": {
                    "description": "The input image and the mask parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateMaskRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/status/{jobId}": {
            "get": {
                "tags": ["Photoshop"],
                "summary": "Get Status API",
                "description": "Get job status of a Photoshop job",
                "operationId": "psJobStatus",
                "x-ffs-status-fetcher": "true",
                "x-ffs-job-name": "PsAsyncJob",
                "parameters": [
                    {
                        "name": "jobId",
                        "in": "path",
                        "description": "The job to get status for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Job Status",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PsJobResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/documentManifest": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Extract Document Manifest API.",
                "description": "Extract metadata from PSD document, including general file and layer information.",
                "operationId": "getDocumentManifest",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input psd file to extract layer information from",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentManifestRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/documentCreate": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Create PSD API",
                "description": "Create new PSD with layers",
                "operationId": "createDocument",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input psd file to create a new psd from",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDocumentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/documentOperations": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Apply Photoshop Edits API",
                "description": "Apply basic layer edits (name, state, etc), add/edit adjustment, pixel, and shape layers.",
                "operationId": "modifyDocument",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input psd file to apply edits to and generate renditions and/or save as a new psd",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModifyDocumentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/renditionCreate": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Create Renditions API",
                "description": "Create flat image representations of a PSD in multiple formats",
                "operationId": "createRendition",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input psd file to create renditions from",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateRenditionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/smartObject": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Replace Smart Object API.",
                "description": "Replace Smart Object in a PSD.",
                "operationId": "replaceSmartObject",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input psd file to apply edits for replacing embedded smart object to and generate renditions and/or save as a new psd",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReplaceSmartObjectRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/photoshopActions": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Run Photoshop Actions API",
                "description": "Executes Photoshop Action file against a PSD, JPEG, PNG, or TIFF ",
                "operationId": "playPhotoshopActions",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input file to apply Photoshop Actions to and generate renditions and/or save as a new image",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlayPhotoshopActionsRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/actionJSON": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Run Action JSON API",
                "description": "Execute given Photoshop Action specified in actionJSON format.",
                "operationId": "playPhotoshopActionsJson",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input psd file to apply Photoshop actionJSON to and generate renditions and/or save as a new image",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlayPhotoshopActionsJsonRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/actionJsonCreate": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Convert to Action JSON API",
                "description": "Convert .atn file to an actionJSON format ",
                "operationId": "convertToActionsJson",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input atn file to convert to actionJSON",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConvertToActionsJsonRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/productCrop": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Smart Crop API",
                "description": "Smart crop an image keeping the subject of interest in view.",
                "operationId": "applyAutoCrop",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input image to apply product crop to.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplyAutoCropRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/depthBlur": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Depth Blur API",
                "description": "Apply depth blur to an image input ",
                "operationId": "applyDepthBlur",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input image to apply depth blur to.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplyDepthBlurRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/text": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Edit Text Layer API",
                "description": "Change the contents of a text layer in a PSD, eg for localization ",
                "operationId": "editTextLayer",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input text to be edited.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EditTextLayerRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/pie/psdService/artboardCreate": {
            "post": {
                "tags": ["Photoshop"],
                "summary": "Create Arboards API",
                "description": "Create artboards from multiple PSD inputs ",
                "operationId": "createArtboard",
                "x-ffs-async-job": true,
                "x-ffs-job-status-fetcher": "psJobStatus",
                "requestBody": {
                    "description": "The input artboard to be created.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateArtboardRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "response",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStatusLinkResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InputValidationError",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InputValidationError"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Trial Limit Exceeded Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialLimitExceededError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Requested resource was not found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Unable to upload asset",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Asset Link Invalid",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobError"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "components": {
        "schemas": {
            "JobError": {
                "title": "JobError",
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "error type"
                    },
                    "code": {
                        "type": "string",
                        "description": "error code"
                    },
                    "title": {
                        "type": "string",
                        "description": "error description"
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "description": "Details of the error returned"
                    }
                },
                "description": "any errors reported requested output"
            },
            "InputValidationError": {
                "title": "InputValidationError",
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "error type"
                    },
                    "code": {
                        "type": "string",
                        "description": "error code"
                    },
                    "title": {
                        "type": "string",
                        "description": "error description"
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InputValidationErrorDetail"
                        },
                        "description": "Details of the error returned"
                    }
                },
                "description": "any errors reported requested output"
            },
            "TrialLimitExceededError": {
                "title": "TrialLimitExceededError",
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "error type"
                    },
                    "code": {
                        "type": "string",
                        "description": "error code"
                    },
                    "title": {
                        "type": "string",
                        "description": "error description"
                    },
                    "details": {
                        "type": "string",
                        "description": "Details of the error returned",
                        "default": "You have exceeded the limit for the free trial. To subscribe and get more API calls, check out our pricing page at https://developer.adobe.com/photoshop/api/pricing/"
                    }
                },
                "description": "any errors reported requested output"
            },
            "InputValidationErrorDetail": {
                "title": "InputValidationErrorDetail",
                "type": "object",
                "properties": {
                    "allowedValues": {
                        "type": "string",
                        "description": "Name of the input parameter",
                        "default": "adobe, external, dropbox, azure"
                    },
                    "reason": {
                        "type": "string",
                        "description": "Reason for the error"
                    }
                },
                "description": "Details of the input validation error returned"
            },
            "StorageDetails": {
                "title": "StorageDetails",
                "type": "object",
                "required": ["href", "storage"],
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "Presigned GET URL"
                    },
                    "storage": {
                        "$ref": "#/components/schemas/StorageType"
                    }
                },
                "description": "File on Adobe's cloud or an external service (like AWS S3, Azure, Dropbox)"
            },
            "SenseiColor": {
                "title": "SenseiColor",
                "type": "object",
                "properties": {
                    "space": {
                        "$ref": "#/components/schemas/ColorSpaceType"
                    }
                },
                "description": "Color space for output image"
            },
            "ColorSpaceType": {
                "title": "ColorSpaceType",
                "type": "string",
                "enum": ["rgb", "rgba"],
                "description": "Color space for output image"
            },
            "SenseiOutputDetails": {
                "title": "SenseiOutputDetails",
                "type": "object",
                "required": ["href", "storage"],
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "Presigned POST URL to the output file"
                    },
                    "storage": {
                        "$ref": "#/components/schemas/StorageType"
                    },
                    "mask": {
                        "$ref": "#/components/schemas/MaskFormat"
                    },
                    "color": {
                        "$ref": "#/components/schemas/SenseiColor"
                    },
                    "overwrite": {
                        "type": "boolean",
                        "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage",
                        "default": true
                    }
                },
                "description": "a PNG file"
            },
            "SenseiJobApiResponse": {
                "title": "SenseiJobApiResponse",
                "type": "object",
                "properties": {
                    "jobId": {
                        "type": "string",
                        "description": "the job's id requested"
                    },
                    "created": {
                        "type": "string",
                        "description": "Created timestamp of the job (YYYY-DD-MMThh:mm:ss.mmmmmZ)"
                    },
                    "modified": {
                        "type": "string",
                        "description": "Modified timestamp of the job (YYYY-DD-MMThh:mm:ss.mmmmmZ)"
                    },
                    "status": {
                        "$ref": "#/components/schemas/JobStatus"
                    },
                    "output": {
                        "$ref": "#/components/schemas/SenseiOutputDetails"
                    },
                    "errors": {
                        "$ref": "#/components/schemas/JobError"
                    },
                    "_links": {
                        "$ref": "#/components/schemas/JobStatusLink"
                    }
                }
            },
            "JobStatusLink": {
                "title": "JobStatusLink",
                "type": "object",
                "properties": {
                    "self": {
                        "$ref": "#/components/schemas/SelfLink"
                    }
                }
            },
            "RemoveBackgroundRequest": {
                "title": "RemoveBackgroundRequest",
                "type": "object",
                "required": ["input", "output"],
                "properties": {
                    "input": {
                        "$ref": "#/components/schemas/StorageDetails"
                    },
                    "output": {
                        "$ref": "#/components/schemas/SenseiOutputDetails"
                    }
                }
            },
            "CreateMaskRequest": {
                "title": "CreateMaskRequest",
                "type": "object",
                "required": ["input", "output"],
                "properties": {
                    "input": {
                        "$ref": "#/components/schemas/StorageDetails"
                    },
                    "output": {
                        "$ref": "#/components/schemas/SenseiOutputDetails"
                    }
                }
            },
            "JobStatusLinkResponse": {
                "title": "JobStatusLinkResponse",
                "type": "object",
                "properties": {
                    "_links": {
                        "$ref": "#/components/schemas/JobStatusLink"
                    }
                }
            },
            "IccProfileDetails": {
                "title": "IccProfileDetails",
                "type": "object",
                "properties": {
                    "imageMode": {
                        "$ref": "#/components/schemas/ImageModeType"
                    },
                    "input": {
                        "$ref": "#/components/schemas/StorageDetails"
                    },
                    "profileName": {
                        "$ref": "#/components/schemas/ColorProfileType"
                    }
                }
            },
            "SmartObjectOutputDetails": {
                "title": "SmartObjectOutputDetails",
                "type": "object",
                "required": ["href", "storage", "type"],
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "Presigned POST URL to the output file"
                    },
                    "storage": {
                        "$ref": "#/components/schemas/StorageType"
                    },
                    "type": {
                        "$ref": "#/components/schemas/ImageFormatType"
                    },
                    "overwrite": {
                        "type": "boolean",
                        "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage",
                        "default": true
                    },
                    "width": {
                        "type": "integer",
                        "description": "width, in pixels, of the renditions. Width of 0 generates a full size rendition. Height is not necessary as the rendition generate will automatically figure out the correct width-to-height aspect ratio. Only supported for image rendition",
                        "format": "int32",
                        "default": 0
                    },
                    "quality": {
                        "maximum": 7.0,
                        "minimum": 1.0,
                        "type": "integer",
                        "description": "quality of the renditions for JPEG. Range from 1 to 7, with 7 as the highest quality.",
                        "format": "int32",
                        "default": 7
                    },
                    "compression": {
                        "$ref": "#/components/schemas/CompressionType"
                    }
                },
                "description": "output object"
            },
            "ActionOutputDetails": {
                "title": "ActionOutputDetails",
                "type": "object",
                "required": ["href", "storage", "type"],
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "Presigned POST URL to the output file"
                    },
                    "storage": {
                        "$ref": "#/components/schemas/StorageType"
                    },
                    "type": {
                        "$ref": "#/components/schemas/ImageFormatType"
                    },
                    "overwrite": {
                        "type": "boolean",
                        "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage",
                        "default": true
                    },
                    "quality": {
                        "maximum": 12,
                        "minimum": 1,
                        "type": "integer",
                        "description": "quality of the renditions for JPEG. Range from 1 to 7, with 7 as the highest quality.",
                        "format": "int32",
                        "default": 7
                    },
                    "compression": {
                        "$ref": "#/components/schemas/CompressionType"
                    }
                },
                "description": "output object"
            },
            "PsOutputDetails": {
                "title": "PsOutputDetails",
                "type": "object",
                "required": ["href", "storage", "type"],
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "Presigned POST URL to the output file"
                    },
                    "storage": {
                        "$ref": "#/components/schemas/StorageType"
                    },
                    "type": {
                        "$ref": "#/components/schemas/ImageFormatType"
                    },
                    "overwrite": {
                        "type": "boolean",
                        "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage",
                        "default": true
                    },
                    "width": {
                        "type": "integer",
                        "description": "width, in pixels, of the renditions. Width of 0 generates a full size rendition. Height is not necessary as the rendition generate will automatically figure out the correct width-to-height aspect ratio. Only supported for image rendition",
                        "format": "int32",
                        "default": 0
                    },
                    "maxWidth": {
                        "type": "integer",
                        "description": "size, in pixels, of the renditions. When width is 0, maxWidth can be provided to get the rendition size. maxWidth when less than document width gets precedence over width. Height is not neccessary as the rendition generate will automatically maintain the aspect ratio.",
                        "format": "int32",
                        "default": 0
                    },
                    "quality": {
                        "maximum": 7.0,
                        "minimum": 1.0,
                        "type": "integer",
                        "description": "quality of the renditions for JPEG. Range from 1 to 7, with 7 as the highest quality.",
                        "format": "int32",
                        "default": 7
                    },
                    "compression": {
                        "$ref": "#/components/schemas/CompressionType"
                    },
                    "trimToCanvas": {
                        "$ref": "#/components/schemas/TrimToCanvasType"
                    },
                    "layers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LayerReference"
                        },
                        "description": "An array of layer objects.\nBy including this array you are signaling that you'd like a rendition created from these layer id's or layer names. Excluding it will generate a document-level rendition."
                    },
                    "iccProfile": {
                        "$ref": "#/components/schemas/IccProfileDetails"
                    }
                },
                "description": "output object"
            },
            "RenditionLinkDetails": {
                "title": "RenditionLinkDetails",
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "the rendition location"
                    },
                    "storage": {
                        "$ref": "#/components/schemas/StorageType"
                    },
                    "width": {
                        "type": "integer",
                        "description": "the requested rendition width in pixels",
                        "format": "int32"
                    },
                    "type": {
                        "$ref": "#/components/schemas/ImageFormatType"
                    }
                },
                "description": "rendition object"
            },
            "ManifestJobApiResponse": {
                "title": "ManifestJobApiResponse",
                "type": "object",
                "properties": {
                    "jobId": {
                        "type": "string",
                        "description": "the job's id requested"
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ManifestJobStatusOutputDetails"
                        },
                        "description": "The outputs requested"
                    },
                    "_links": {
                        "$ref": "#/components/schemas/JobStatusLink"
                    }
                }
            },
            "PsJobApiResponse": {
                "title": "PsJobApiResponse",
                "type": "object",
                "properties": {
                    "jobId": {
                        "type": "string",
                        "description": "the job's id requested"
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/JobOutputDetails"
                        },
                        "description": "Api output details"
                    },
                    "_links": {
                        "$ref": "#/components/schemas/JobStatusLink"
                    }
                }
            },
            "PsJobResponse": {
                "type": "object",
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/ManifestJobApiResponse"
                    },
                    {
                        "$ref": "#/components/schemas/PsJobApiResponse"
                    }
                ],
                "description": "Photoshop Job response."
            },
            "DocumentManifestRequest": {
                "title": "DocumentManifestRequest",
                "type": "object",
                "required": ["inputs"],
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StorageDetails"
                        },
                        "description": "An array of input objects. Each input object represents a file to be processed."
                    },
                    "options": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/DocumentManifestOptions"
                            },
                            {
                                "description": "available options to apply to all input files"
                            }
                        ]
                    }
                }
            },
            "LayerPosition": {
                "title": "LayerPosition",
                "type": "object",
                "properties": {
                    "insertAbove": {
                        "$ref": "#/components/schemas/LayerReference"
                    },
                    "insertBelow": {
                        "$ref": "#/components/schemas/LayerReference"
                    },
                    "insertInto": {
                        "$ref": "#/components/schemas/LayerReference"
                    },
                    "insertTop": {
                        "type": "boolean"
                    },
                    "insertBottom": {
                        "type": "boolean"
                    }
                }
            },
            "DeleteDetails": {
                "title": "DeleteDetails",
                "type": "object",
                "properties": {
                    "includeChildren": {
                        "type": "boolean",
                        "default": false,
                        "description": "Indicates that, while deleting a group layer also delete it's children."
                    },
                    "id": {
                        "type": "integer",
                        "description": "The layer id"
                    },
                    "name": {
                        "type": "string",
                        "description": "The layer name. You can identify a layer by id or name. That makes either id or name a required field."
                    }
                },
                "description": "Indicates you want to delete the layer, identified by the id or name. Note the object is currently empty but leaves room for further enhancements"
            },
            "LayerReference": {
                "title": "LayerReference",
                "description": "Layer reference object",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of the layer. Use either id OR name.",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the layer. Use either id OR name."
                    }
                }
            },
            "CreateDocumentRequest": {
                "title": "CreateDocumentRequest",
                "type": "object",
                "required": ["outputs", "options"],
                "properties": {
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PsOutputDetails"
                        },
                        "description": "An array of output objects. Each output object represents a file to be created."
                    },
                    "options": {
                        "$ref": "#/components/schemas/DocumentCreateOptions"
                    }
                }
            },
            "ModifyDocumentRequest": {
                "title": "ModifyDocumentRequest",
                "type": "object",
                "required": ["inputs", "options", "outputs"],
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StorageDetails"
                        },
                        "description": "An array of input objects. Each input object represents a file to be processed."
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PsOutputDetails"
                        },
                        "description": "An array of output objects. Each output object represents a file to be created."
                    },
                    "options": {
                        "$ref": "#/components/schemas/DocumentOperationOptions"
                    }
                }
            },
            "CreateRenditionRequest": {
                "title": "CreateRenditionRequest",
                "type": "object",
                "required": ["inputs", "outputs"],
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StorageDetails"
                        },
                        "description": "An array of input objects. We currently only support one input object"
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PsOutputDetails"
                        },
                        "description": "An array of output objects"
                    }
                }
            },
            "ReplaceSmartObjectRequest": {
                "title": "ReplaceSmartObjectRequest",
                "type": "object",
                "required": ["inputs", "options", "outputs"],
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StorageDetails"
                        },
                        "description": "An array of input objects. We currently only support one input object"
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SmartObjectOutputDetails"
                        },
                        "description": "An array of output objects"
                    },
                    "options": {
                        "$ref": "#/components/schemas/SmartObjectOptions"
                    }
                }
            },
            "PlayPhotoshopActionsRequest": {
                "title": "PlayPhotoshopActionsRequest",
                "type": "object",
                "required": ["inputs", "options", "outputs"],
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StorageDetails"
                        },
                        "description": "An array of input objects. We currently only support one input object"
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ActionOutputDetails"
                        },
                        "description": "An array of output objects"
                    },
                    "options": {
                        "$ref": "#/components/schemas/ActionOptions"
                    }
                }
            },
            "PlayPhotoshopActionsJsonRequest": {
                "title": "PlayPhotoshopActionsJsonRequest",
                "type": "object",
                "required": ["inputs", "options", "outputs"],
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StorageDetails"
                        },
                        "description": "An array of input objects. We currently only support one input object"
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ActionOutputDetails"
                        },
                        "description": "An array of output objects"
                    },
                    "options": {
                        "$ref": "#/components/schemas/ActionJsonOptions"
                    }
                }
            },
            "ConvertToActionsJsonRequest": {
                "title": "ConvertToActionsJsonRequest",
                "type": "object",
                "required": ["inputs"],
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StorageDetails"
                        },
                        "description": "An array of input action sets in ATN format. We currently only support one input object"
                    },
                    "options": {
                        "$ref": "#/components/schemas/ActionJsonCreateOptions"
                    }
                }
            },
            "ApplyAutoCropRequest": {
                "title": "ApplyAutoCropRequest",
                "type": "object",
                "required": ["inputs", "outputs", "options"],
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StorageDetails"
                        },
                        "description": "An array of input objects. We currently only support one input object"
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ActionOutputDetails"
                        },
                        "description": "An array of output objects"
                    },
                    "options": {
                        "$ref": "#/components/schemas/CropOptions"
                    }
                }
            },
            "ApplyDepthBlurRequest": {
                "title": "ApplyDepthBlurRequest",
                "type": "object",
                "required": ["inputs", "outputs"],
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StorageDetails"
                        },
                        "description": "An array of input objects. We currently only support one input object"
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ActionOutputDetails"
                        },
                        "description": "An array of output objects"
                    },
                    "options": {
                        "$ref": "#/components/schemas/DepthBlurDetails"
                    }
                }
            },
            "EditTextLayerRequest": {
                "title": "EditTextLayerRequest",
                "type": "object",
                "required": ["inputs", "outputs", "options"],
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StorageDetails"
                        },
                        "description": "An array of input objects. We currently only support one input object"
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ActionOutputDetails"
                        },
                        "description": "An array of output objects"
                    },
                    "options": {
                        "$ref": "#/components/schemas/TextOptions"
                    }
                }
            },
            "CreateArtboardRequest": {
                "title": "CreateArtboardRequest",
                "type": "object",
                "required": ["outputs", "options"],
                "properties": {
                    "options": {
                        "$ref": "#/components/schemas/ArtboardDetails"
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PsOutputDetails"
                        },
                        "description": "An array of output objects"
                    }
                }
            },
            "DocumentDetails": {
                "title": "DocumentDetails",
                "type": "object",
                "required": ["height", "width", "resolution", "fill", "mode"],
                "properties": {
                    "height": {
                        "type": "integer",
                        "description": "In pixels",
                        "format": "int32"
                    },
                    "width": {
                        "type": "integer",
                        "description": "In pixels",
                        "format": "int32"
                    },
                    "resolution": {
                        "maximum": 300.0,
                        "minimum": 72.0,
                        "type": "integer",
                        "description": "In pixels per inch",
                        "format": "int32"
                    },
                    "fill": {
                        "$ref": "#/components/schemas/FillType"
                    },
                    "mode": {
                        "$ref": "#/components/schemas/ChannelModeType"
                    },
                    "depth": {
                        "$ref": "#/components/schemas/DepthType"
                    }
                }
            },
            "ManifestJobDocumentDetails": {
                "title": "ManifestJobDocumentDetails",
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "The name of the document"
                    },
                    "height": {
                        "type": "integer",
                        "description": "In pixels",
                        "format": "int32"
                    },
                    "width": {
                        "type": "integer",
                        "description": "In pixels",
                        "format": "int32"
                    },
                    "photoshopBuild": {
                        "type": "string",
                        "description": "The version of Photoshop used to create the document"
                    },
                    "imageMode": {
                        "$ref": "#/components/schemas/ImageModeType"
                    },
                    "bitDepth": {
                        "$ref": "#/components/schemas/ChannelModeType"
                    },
                    "iccProfileName": {
                        "type": "string",
                        "description": "The name of the ICC profile used for the document"
                    }
                }
            },
            "ChildrenLayerDetails": {
                "title": "ChildrenLayerDetails",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "the layer id. Note an id of -1 is valid and indicates a PSD that only contains a background image and no layers",
                        "format": "int32"
                    },
                    "index": {
                        "type": "integer",
                        "description": "the layer index",
                        "format": "int32"
                    },
                    "thumbnail": {
                        "type": "string",
                        "description": "If thumbnails were requested, a presigned GET URL to the thumbnail"
                    },
                    "type": {
                        "$ref": "#/components/schemas/LayerType"
                    },
                    "name": {
                        "type": "string",
                        "description": "the layer name"
                    },
                    "locked": {
                        "type": "boolean",
                        "description": "is the layer locked"
                    },
                    "visible": {
                        "type": "boolean",
                        "description": "is the layer visible"
                    },
                    "adjustments": {
                        "$ref": "#/components/schemas/AdjustmentDetails"
                    },
                    "bounds": {
[...]
